 .avatar {
    height: 50px;
    width: 50px;
  }

  ul {
    list-style-type: none;
  }


.profile_content {

  ul {
    list-style-type: none;
  }
}

.profile {
  border: 1px solid black;
  margin: 50px;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

h2, span {
  font-weight: bold;
}
