.main-container {
    display: flex;
}

.cards_drone {
    flex-grow: 1;
    width: 250px;
    height: 100px;
}

.width-40 {
    width: 60%;
}

#map {
    height: 100vh;
    position: sticky;
    top: 0;
}

.padding-20 {
    padding: 20px;
}
